.navbar .navbar-burger{
	height: 4rem;
	min-height: 4rem;
}

.navbar-brand img {
	height: 2.5rem;
	max-height: 2.5rem;
}

/* We don't need checkbox to be displayed in order for it to work */
.toggler {
  display: none;
}

/* Below are all the functionalities */

/* Hamburger changes to X when toggler is checked */
.navbar .toggler:checked + .navbar-brand .burger span:nth-child(1) {
  -webkit-transform: translateY(5px) rotate(45deg);
  transform: translateY(5px) rotate(45deg);
}
.navbar .toggler:checked + .navbar-brand .burger span:nth-child(2) {
  opacity: 0;
}
.navbar .toggler:checked + .navbar-brand .burger span:nth-child(3) {
  -webkit-transform: translateY(-5px) rotate(-45deg);
  transform: translateY(-5px) rotate(-45deg);
}

/*  Displays menu when toggler is checked only on mobile/tablet */
@media screen and (max-width: 1024px) {
  .navbar .toggler:checked ~ .navbar-menu {
    display: block;
  }
  /* We don't want menu to be displayed on mobile by default */
  .navbar-menu {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {

.icon img {filter: invert(1);}

}
